body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Means Web","Georgia","Times","Times New Roman","serif";
}
.app {
  padding: 10px;
}

.nav-div {
  width: 100%;
  background-color: #f5f5f5;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.nav1 {
  display: flex;
  gap: 1.2rem;
}

.nav2 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav3 {
  display: none;
}

.btn {
  background-color: #fff;
  padding: 3px 10px;
}

.icon {
  text-align: center;
  padding: 50px 0;
}

.mid-items {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.images {
  position: relative;
  display: inline-block;
}

.main-img {
  display: block;
  width: 100%;
  height: auto;
}

.h1 {
  position: absolute;
  top: 50%; 
  left: 10%; 
  /* transform: translate(-50%, -50%);  */
  color: #fff; 
  /* padding: 10px 20px;  */
  font-size: 50px;
  font-weight: bolder;
  /* text-align: center; */
}

.popular-cat {
  padding-top: 50px;
  width: 85%;
  margin: auto;
}

.hh1 {
  font-size: 60px;
}

.popular {
  display: flex;
  gap: 0.5rem;
}

.pop1 {
  width: 20%;
  height: auto;
}

.pop-img {
  width: 100%;
  border-radius: 50%;
}

.favourite-cat {
  padding-top: 50px;
  width: 85%;
  margin: auto;
}

.favourite {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.favour {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 6px 5px grey;  /* height: auto; */
}

.fav-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.stars {
  width: 100%;
}

.fa-solid {
  font-size: small;
}

.fav1 {
  display: flex;
  gap: 0.5rem;
  width: 25%;
  height: auto;
}

.msglog {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
  font-size: 7px;
}

.latest-recipe {
  padding-top: 50px;
  width: 90%;
  margin: auto;
}

.latest {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 0.5rem;
}

.late {
  width: 100%;
  margin: auto;
  /* box-shadow: 2px 2px 10px rgb(0, 78, 114);  */
}

.recip-img {
  width: 100%;
  border-radius: 10px;
}

.btn-div {
  padding: 50px 0;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2 {
  width: 150px;
  height: auto;
  background-color: #fff;
  font-size: x-large;
  padding: 5px;
}

.recomend {
  width: 100%;
  background-color: #ffd7c9;
  color: #000;
  padding: 70px 0;
}

.form-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.hhh {
  font-size: 50px;
}

.pp {
  text-align: center;
  font-size: x-large;
}

.email-div {
  display: flex;
  text-align: center;
  justify-content: center;
}

#email-inp {
  width: 30%;
  height: 70px;
  border: none;
  outline: none;
}

#join-btn {
  width: 10%;
  border: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: #ff7b00;
}

.footer {
  padding-top: 50px;
  width: 85%;
  margin: auto;
}

.foot {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.col1 {
  width: 30%;
}

.last-img {
  width: 30%;
  text-align: center;
}

.lastp {
  font-size: small;
  color: rgb(165, 163, 163);
}

.col2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.final {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.fin1 {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 25px 0;
}

.fin2 {
  padding: 25px 0;
  display: flex;
  gap: 1rem;
}

.mob-footer {
  display: none;
}

@media screen and (max-width: 425px){
  nav {
    padding: 10px;
    width: 90%;
  }

  .nav1,
  .nav2,
  .icon,
  .mid-items {
    display: none;
  }

  .nav3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    width: 30%;
  }

  .h1 {
    top: 23%;

    font-size: 30px;
  }

  .hh1 {
    font-size: 30px;
  }

  .popular {
    display: grid;;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .pop1 {
    width: 90%;
    /* height: auto; */
  }

  .favourite {
    display: grid;;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .latest {
    display: grid;;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .email-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  #email-inp {
    width: 80%;
    height: 40px;
  }

  #join-btn {
    width: 80%;
    height: 40px;
    border: none;
  }

  .footer {
    display: none;
  }

  .mob-footer {
    display: flex;
    width: 85%;
    margin: auto;
    padding-top: 30px;
  }

  .mob-foot {
    display: flex;
    flex-direction: column;
    gap: 0.1;
  }

  .mob-col1 {
    width: 100%;
  }

  .mob-img{
    width: 40%;
  }

  select{
    border:none;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid grey;
  }
  
  select:focus{
    outline:none;
  }

  .dropdown {
    font-size: bold;
    width: 20%;
  }

  .mob-icons {
    padding-top: 50px;
    display: flex;
    gap: 2rem;
  }

}